In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("titanic.csv",usecols=['Survived','Age','Fare'])
df.head(100)

    Survived   Age     Fare
0          0  22.0   7.2500
1          1  38.0  71.2833
2          1  26.0   7.9250
3          1  35.0  53.1000
4          0  35.0   8.0500
..       ...   ...      ...
95         0   NaN   8.0500
96         0  71.0  34.6542
97         1  23.0  63.3583
98         1  34.0  23.0000
99         0  34.0  26.0000

[100 rows x 3 columns]

In [ ]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [ ]:
df['Age'].median()

28.0

In [ ]:
def impute_na(df,variable,median):
  df[variable+"_median"]=df[variable].fillna(median)

In [ ]:
median=df['Age'].median()

In [ ]:
impute_na(df,'Age',median)
df.head(100)